{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main class="content">

      {% include 'includes/navigation.html' %}

      <div class="py-4">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                  <li class="breadcrumb-item"><a href="#">Voix-CA</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Clients</li>
              </ol>
          </nav>
          <div class="d-flex justify-content-between w-100 flex-wrap">
              <div class="mb-3 mb-lg-0">
                  <h1 class="h4">Clients</h1>
                  <p class="mb-0">Liste des clients présents dans l'applicaiton Voix CA.</p>
              </div>
              <div>
                  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal-form"><i class="fas fa-plus mr-1"></i> Nouveau</a>
              </div>
          </div>
      </div>

      <div class="card border-light shadow-sm mb-4">
          <div class="card-body">
              <div class="table-responsive">
                  <table id="tableClient" class="table table-centered table-nowrap mb-0 rounded">
                      <thead class="thead-light">
                          <tr>
                              <th class="border-0">#</th>
                              <th class="border-0">Nom</th>
                              <th class="border-0">Prénom</th>
                              <th class="border-0">Caisse Régionale</th>
                              <th class="border-0">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for client in clients.clients %}
                          <!-- Item -->
                          <tr>
                              <td class="border-0"><a href="#" class="text-primary font-weight-bold">{{ client.id }}</a> </td>
                              <td class="border-0 font-weight-bold">{{ client.nom }}</td>
                              <td class="border-0">{{ client.prenom }}</td>
                              <td class="border-0"> {{ client.id }}</td>
                              <td class="border-0">
                                  <button class="btn btn-info" type="button"><i class="far fa-eye"></i> </button>
                                  <button class="btn btn-warning" type="button"><i class="far fa-edit"></i> </button>
                                  <button class="btn btn-danger" type="button" name="btnDelete" value="{{ client.id }}"><i class="fas fa-trash"></i>
                                  </button>
                              </td>
                          </tr>
                          <!-- End of Item -->
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

        <!-- Modal ajout client -->
        <!-- Modal Content -->
        <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card border-light p-4">
                            <button type="button" class="btn-close ml-auto" data-dismiss="modal" aria-label="Close"></button>
                            <div class="card-header border-0 text-center pb-0">
                                <h2 class="h4">Nouveau client</h2>
                                <span>Ajoutez ici un nouveau client</span>
                            </div>
                            <div class="card-body">
                                <form method="post" action="" class="mt-4">
                                    {{ createForm.hidden_tag() }}
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="login_email">Nom</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><span class="fas fa-signature"></span></span>
                                            {{ createForm.nom(placeholder="DUPONT", class="form-control") }}
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="login_password">Prénom</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2"><span class="fas fa-signature"></span></span>
                                                {{ createForm.prenom(placeholder="Martin", class="form-control") }}
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <button type="submit" name="add" class="btn btn-block btn-primary">Enregister</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- End of Modal Content -->

      {% include 'includes/footer.html' %}

  </main>



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="application/javascript">
        $( document ).ready(function() {
            console.log( "ready!" );
            $('button[name="btnDelete"]').on('click',function (){
                console.log("it's find !")
                id = $(this).val();
                console.log(id);
                $.ajax({
                    url: './delete/'+id,
                    crossDomain: true,
                    crossOrigin: true,
                    type: 'DELETE',
                    success: function(result) {
                        window.location.reload()
                    },
                    error: function (result){
                        console.log(result)
                    }
                });
            });
        });
        function deleteClient(id){

        }
    </script>

{% endblock javascripts %}
{% endblock content %}