{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main class="content">

      {% include 'includes/navigation.html' %}

      <div class="py-4">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                  <li class="breadcrumb-item"><a href="#">Voix-CA</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Clients</li>
              </ol>
          </nav>
          <div class="d-flex justify-content-between w-100 flex-wrap">
              <div class="mb-3 mb-lg-0">
                  <h1 class="h4">Clients</h1>
                  <p class="mb-0">Liste des clients présents dans l'applicaiton Voix CA.</p>
              </div>
              <div>
                  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal-form"><i class="fas fa-plus mr-1"></i> Nouveau</a>
              </div>
          </div>
      </div>

      <div class="card border-light shadow-sm mb-4">
          <div class="card-body">
              <div class="table-responsive">
                  <table id="tableClient" class="table table-centered table-nowrap mb-0 rounded">
                      <thead class="thead-light">
                          <tr>
                              <th class="border-1">#</th>
                              <th class="border-1">Nom</th>
                              <th class="border-1">Prénom</th>
                              <th class="border-1">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for client in clients.clients %}


                          <!-- Item -->
                          <tr>
                              <td class="border-1"><a href="#" class="text-primary font-weight-bold">{{ client.id }}</a> </td>
                              <td class="border-1 font-weight-bold">{{ client.nom }}</td>
                              <td class="border-1">{{ client.prenom }}</td>
                              <td class="border-1">
                                  <button class="btn btn-info" name="btnInfo" type="button" value="{'client':'{{client.id}}','nom':'{{client.nom}}', 'prenom': '{{client.prenom}}'}" data-toggle="modal" data-target="#modal-form-signup" ><i class="far fa-file-alt"></i> </button>
                                  <button class="btn btn-warning" name="btnModify" type="button" value="{'client':'{{client.id}}','nom':'{{client.nom}}', 'prenom': '{{client.prenom}}'}" data-toggle="modal" data-target="#modal-form-signup" ><i class="far fa-edit"></i> </button>
                                  <button class="btn btn-danger" type="button" name="btnDelete" value="{{ client.id }}"><i class="fas fa-trash"></i>
                                  </button>
                              </td>
                          </tr>
                          <!-- End of Item -->
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

      <!-- Modal lecture d'un client -->
        <!-- Modal Content -->
        <div class="modal fade" id="modal-form-signup" tabindex="-1" role="dialog" aria-labelledby="modal-form_signup" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card border-light p-4">
                            <button type="button" class="btn-close ml-auto" data-dismiss="modal" aria-label="Close"></button>
                            <div class="card-header border-0 text-center pb-0">
                                <h2 class="h4">Consultation d'un client</h2>
                                <span>Vous consultez ici la fiche client</span>
                            </div>
                            <div class="card-body">
                                <form class="mt-4">
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label class="my-1 mr-2" for="client">Client</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2" ><span class="fas fa-user"></span></span>
                                                <select class="form-select" disabled>
                                                    <option id="info_client" value="test" selected></option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <div class="form-group">

                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="nom">Nom</label>
                                            <div class="input-group">
                                                <textarea id="client_nom" class="form-control" readonly></textarea>
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <div class="form-group">

                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="prenom">Prénom</label>
                                            <div class="input-group">
                                                <textarea id="client_prenom" class="form-control" readonly></textarea>
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                     <div class="form-group">

                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="cr">Compte Rendu</label>
                                            <div class="input-group">
                                                <textarea id="lect_compterendu" class="form-control" readonly></textarea>
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal Content -->

      <!-- Modal modifier un client -->
        <!-- Modal Content -->
        <div class="modal fade" id="modal-form-modify" tabindex="-1" role="dialog" aria-labelledby="modal-form_signup" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card border-light p-4">
                            <button type="button" class="btn-close ml-auto" data-dismiss="modal" aria-label="Close"></button>
                            <div class="card-header border-0 text-center pb-0">
                                <h2 class="h4">Modifier un client</h2>
                                <span>Vous pouvez modifier la fiche client</span>
                            </div>
                            <div class="card-body">
                                <form class="mt-4">
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label class="my-1 mr-2" for="client">Client</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2" ><span class="fas fa-user"></span></span>
                                                <select class="form-select" disabled>
                                                    <option id="info_client" value="test" selected></option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <div class="form-group">

                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="nom">Nom</label>
                                            <div class="input-group">
                                                <textarea id="nom_modify" class="form-control" ></textarea>
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <div class="form-group">

                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="prenom">Prénom</label>
                                            <div class="input-group">
                                                <textarea id="prenom_modify" class="form-control" ></textarea>
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <button type="submit" name="modify" class="btn btn-block btn-primary">Enregister</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal Content -->

        <!-- Modal ajout client -->
        <!-- Modal Content -->
        <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card border-light p-4">
                            <button type="button" class="btn-close ml-auto" data-dismiss="modal" aria-label="Close"></button>
                            <div class="card-header border-0 text-center pb-0">
                                <h2 class="h4">Nouveau client</h2>
                                <span>Ajoutez ici un nouveau client</span>
                            </div>
                            <div class="card-body">
                                <form method="post" action="" class="mt-4">
                                    {{ createForm.hidden_tag() }}
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="nom">Nom</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><span class="fas fa-signature"></span></span>
                                            {{ createForm.nom( class="form-control") }}
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-group">
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="prenom">Prénom</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2"><span class="fas fa-signature"></span></span>
                                                {{ createForm.prenom( class="form-control") }}
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <button type="submit" name="add" class="btn btn-block btn-primary">Enregister</button>
                                    <button type="reset" class="btn btn-block btn-primary">Reset</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- End of Modal Content -->

      {% include 'includes/footer.html' %}

  </main>
{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="application/javascript">
    $( document ).ready(function() {
            console.log( "ready!" );

            $('body').on('click', 'button[name="btnInfo"]', function (){
                console.log('dans btnInfo ' );
                var client = $(this).val();
                console.log('client vaut :' + client.replaceAll('\'','"'));
                var json = JSON.parse(client.replaceAll('\'','"'));
                console.log('json vaut :' + json);
                $('#info_client').html(json.client);
                console.log('info_client remplacé par ' + json.client );
                $('#client_nom').html(json.nom);
                console.log('client_nom remplacé par '+ json.nom);
                $('#client_prenom').html(json.prenom);
                console.log('client_prenom remplacé par '+ json.prenom);
                $('#lect_compterendu').html(json.cr);
                console.log('lect_compterendu remplacé par '+ json.cr);
            });

            $('body').on('click', 'button[name="btnModidy"]', function (){
                console.log('dans btnModify ' );
                var client = $(this).val();
                console.log('client vaut :' + client.replaceAll('\'','"'));
                var json = JSON.parse(client.replaceAll('\'','"'));
                console.log('json vaut :' + json);
                $('#info_client').html(json.client);
                console.log('info_client remplacé par ' + json.client );
                $('#nom_modify').html(json.nom);
                console.log('nom_mofidy remplacé par '+ json.nom_modify);
                $('#prenom_modify').html(json.prenom);
                console.log('prenom_modify remplacé par '+ json.prenom_modify);

            });

            $('body').on('click', 'button[name="btnDelete"]', function (){
                _id = $(this).val();
                if (window.confirm("Supprimer le client "+ _id) == true) {
                    $.ajax({
                        url: '/tools/delete/client/' + _id,
                        type: 'DELETE',
                        success: function (result) {
                            document.location.reload();
                        },
                        error: function (){
                          document.location.reload();
                        },
                        done:function (){
                            document.location.reload()
                        }
                    })
                }
            });

    });
</script>

{% endblock javascripts %}
