{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Voix-CA</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Comptes-rendus</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Comptes-rendus</h2>
                    <p class="mb-0">Analyse des comptes-clients en fonction de leurs catégories</p>
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">Partager</button>
                        <button type="button" class="btn btn-sm btn-outline-primary">Exporter</button>

                        <div>
                  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal-form"><i class="fas fa-plus mr-1"></i> Nouveau</a>
              </div>
                    </div>
                </div>
            </div>
                  <div class="card border-light shadow-sm mb-4">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-centered table-nowrap mb-0 rounded">
                      <thead class="thead-light">
                          <tr>
                              <th class="border-0">#</th>
                              <th class="border-0">Collab</th>
                              <th class="border-0">Client</th>
                              <th class="border-0">Categorie</th>
                              <th class="border-0">Traitement</th>
                              <th class="border-0">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for data in datas.Data %}
                          <!-- Item -->
                          <tr>
                              <td class="border-0"><a href="#" class="text-primary font-weight-bold">{{ data.id }}</a> </td>
                              <td class="border-0 font-weight-bold">{{ data.id_collab }}</td>
                              <td class="border-0">{{ data.id_client }}</td>
                              <td class="border-0"> {{ data.categories }}</td>
                              <td class="border-0"> {{ data.isProcessed }}</td>

                              <td class="border-0">
                                  <button class="btn btn-info" type="button"><i class="far fa-eye"></i> </button>
                                  <button class="btn btn-warning" type="button"><i class="far fa-edit"></i> </button>
                                  <button class="btn btn-danger" type="button" name="btnDelete" value=""><i class="fas fa-trash"></i> </button>
                              </td>
                          </tr>
                          <!-- End of Item -->
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

        <!-- Modal ajout compte rendu -->
        <!-- Modal Content -->
        <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card border-light p-4">
                            <button type="button" class="btn-close ml-auto" data-dismiss="modal" aria-label="Close"></button>
                            <div class="card-header border-0 text-center pb-0">
                                <h2 class="h4">Nouveau compte-rendu</h2>
                                <span>Ajoutez ici un nouveau compte-rendu</span>
                            </div>
                            <div class="card-body">
                                <form method="post" action="" class="mt-4">
                                    {{ createForm.hidden_tag() }}

                                    <!-- Form -->
                                    {{ createForm.id_collab(type="hidden", value = current_user.username ) }}
                                    <!-- End of Form -->

                                    <div class="form-group">

                                        <!-- End of Form -->

                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label class="my-1 mr-2" for="id_client">Client</label>
                                            {{createForm.id_client(class="form-select")}}
                                        </div>
                                        <!-- End of Form -->

                                    <div class="form-group">

                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label for="login_password">compte-rendu</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon2"><span class="fas fa-signature"></span></span>
                                                {{ createForm.compte_rendu(class="form-control") }}
                                            </div>
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                    <button type="submit" name="add" class="btn btn-block btn-primary">Enregister</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal Content -->

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}