{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Voix-CA</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Recherche</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Recherche</h2>
                    <p class="mb-0">Outil de recherche d'un client ou compte-rendu</p>
                </div>
            </div>
        <div class="mb-3">
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1"><span class="fas fa-search"></span></span>
        <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Rechercher" aria-label="Search">
    </div>
</div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}